*.parquet
*.csv.gz
*.geojson
*.json
!config.yaml
intermediate/
__pycache__/
venv/
brazil-latest.osm.pbf
norte-latest.osm.pbf
centro-oeste-latest.osm.pbf
.DS_Store
background_map.osm.pbf
background_map_level5.osm.pbf
